<a href="https://colab.research.google.com/github/LeonardoAlunaM/COMPUTADORAS-Y-PROGRAMACI-N-2O23-/blob/main-COMPUTADORAS-Y-PROGTRAMACI%C3%93N-2023/03Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
https://github.com/leonardolunamoreno/Computadoras-y-programaci-n2021-grupo-1157

In [ ]:
import pandas as pd

In [ ]:
pd.DataFrame(data=[(0,1,2),(1,2,3),(2,3,4),(3,4,5)])

   0  1  2
0  0  1  2
1  1  2  3
2  2  3  4
3  3  4  5

In [ ]:
diccionario = {'c101':[10, 5, 33 ,45, 25, 22], 
                'c111':[0, 15, 21 , 30, 31, 11], 
                'c121':[15, 5, 1 ,10, 42, 21], 
                'c301':[20, 35, 3 ,15, 0, 0], }

diccionario

{'c101': [10, 5, 33, 45, 25, 22],
 'c111': [0, 15, 21, 30, 31, 11],
 'c121': [15, 5, 1, 10, 42, 21],
 'c301': [20, 35, 3, 15, 0, 0]}

In [ ]:
df = pd.DataFrame(data = diccionario)
df

   c101  c111  c121  c301
0    10     0    15    20
1     5    15     5    35
2    33    21     1     3
3    45    30    10    15
4    25    31    42     0
5    22    11    21     0

In [ ]:
# Generar matrices y data frame a partir de elementos importados 
import numpy as np

In [ ]:
m = np.arange(9).reshape(3,3) # Al parecer genera una matriz, con valores que van del 1 al 9 y además es una matriz de 3 x 3
m

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [ ]:
pd.DataFrame(m) # Según parece se agrego una columna que no tenía nada que ver

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

In [ ]:
meses = ('enero','febrero','marzo','abril','mayo','junio')
diccionario

{'c101': [10, 5, 33, 45, 25, 22],
 'c111': [0, 15, 21, 30, 31, 11],
 'c121': [15, 5, 1, 10, 42, 21],
 'c301': [20, 35, 3, 15, 0, 0]}

In [ ]:
pd.DataFrame(data = diccionario, index = meses)

         c101  c111  c121  c301
enero      10     0    15    20
febrero     5    15     5    35
marzo      33    21     1     3
abril      45    30    10    15
mayo       25    31    42     0
junio      22    11    21     0

In [ ]:
cursos = pd.DataFrame(data = diccionario, index = meses)
cursos

         c101  c111  c121  c301
enero      10     0    15    20
febrero     5    15     5    35
marzo      33    21     1     3
abril      45    30    10    15
mayo       25    31    42     0
junio      22    11    21     0

In [ ]:
cursos['c111']

enero       0
febrero    15
marzo      21
abril      30
mayo       31
junio      11
Name: c111, dtype: int64

In [ ]:
cursos.describe

<bound method NDFrame.describe of          c101  c111  c121  c301
enero      10     0    15    20
febrero     5    15     5    35
marzo      33    21     1     3
abril      45    30    10    15
mayo       25    31    42     0
junio      22    11    21     0>

In [ ]:
cursos.describe()

            c101       c111       c121       c301
count   6.000000   6.000000   6.000000   6.000000
mean   23.333333  18.000000  15.666667  12.166667
std    14.706008  11.865918  14.719601  13.934370
min     5.000000   0.000000   1.000000   0.000000
25%    13.000000  12.000000   6.250000   0.750000
50%    23.500000  18.000000  12.500000   9.000000
75%    31.000000  27.750000  19.500000  18.750000
max    45.000000  31.000000  42.000000  35.000000

In [ ]:
cursos.max()

c101    45
c111    31
c121    42
c301    35
dtype: int64

In [ ]:
cursos['c101']

enero      10
febrero     5
marzo      33
abril      45
mayo       25
junio      22
Name: c101, dtype: int64

In [ ]:
cursos['c111'].describe() # Al parecer da una descripción de una columan de un arreglo determinado

count     6.000000
mean     18.000000
std      11.865918
min       0.000000
25%      12.000000
50%      18.000000
75%      27.750000
max      31.000000
Name: c111, dtype: float64

In [ ]:
cursos[2:3]

       c101  c111  c121  c301
marzo    33    21     1     3

In [ ]:
cursos[2:]

       c101  c111  c121  c301
marzo    33    21     1     3
abril    45    30    10    15
mayo     25    31    42     0
junio    22    11    21     0

In [ ]:
cursos[::2]

       c101  c111  c121  c301
enero    10     0    15    20
marzo    33    21     1     3
mayo     25    31    42     0

In [ ]:
cursos['c111'][2]

21

In [ ]:
cursos['c111'][2:5]

marzo    21
abril    30
mayo     31
Name: c111, dtype: int64

In [ ]:
cursos['c111']['mayo']

31

In [ ]:
cursos[['c101','c121']]

         c101  c121
enero      10    15
febrero     5     5
marzo      33     1
abril      45    10
mayo       25    42
junio      22    21

In [ ]:
 # al parecer no acepta un arreglo de datos 
cursos[['c101','c121']]

         c101  c121
enero      10    15
febrero     5     5
marzo      33     1
abril      45    10
mayo       25    42
junio      22    21